<section class="section">
    <div class="container">
        <ul class="list">
            <li class="item">
                <p class="desc"></p>
                <span></span>
            </li>
            <li class="item">
                <p class="desc"></p>
                <span></span>
            </li>
            <li class="item">
                <p class="desc"></p>
                <span></span>
            </li>
            <li class="item">
                <p class="desc"></p>
                <span></span>
            </li>
        </ul>
    </div>
</section>