<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I love You</title>
  </head>
  <body>
    <h1 class="title">Lorem ipsum dolor sit</h1>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla temporibus
      labore placeat iste alias maxime, atque cum eveniet ratione deleniti
      repellendus? Unde sunt error nam veritatis minima, reiciendis eaque qui!
    </p>
  </body>
</html>
